#logo{
    float: left;
}

#pageframe{
    background-color: lightgray;
    border-radius: 5px;
}

#createbtn{
    float: right;
}

.clear {
    clear: both;
}

.nav{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#nav{
    background-color: #1a1a1a;
    width: auto;
    padding: 5px;
    border-radius: 5px;
}

#blogpost{
    float: left;
    margin: 5px;
    width: 970px;
    padding-bottom: 100px;
    padding-left: 20px;
}

#myPost{
    width: 300px;
    text-align: center;
}

#action{
    float: right;
    width: 0px;
}

.body{
    padding-top: 20px;
}

#frame{
    width: 1000px;
    max-height: 10px;
    margin-left: 15px;
    margin-right: 40px;
    margin-top: 50px;
}

form{
    width: 60%;
}

textarea, input{
    width: 60%;
    border-radius: 3px;
}

#formholder{
    width: inherit;
}

.form-group{

}

button{
    border-radius: 5px;
    border: 0.23px;
    background-color: green;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

#articles{
    margin: 10px;
    width: 900px;
    border-radius: 10px;  
    display: inline-block;
    border: solid 0.0023px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

a{
    text-decoration-line: none;
}

#myPost{
    overflow: scroll;
    min-height: 500px;
    max-height: 500px;
    padding-right: 650px;
    background-color: lightgray;
    margin-top: 100px;
}

#icon{
    float: right;
    padding: 5px;
}
